<section class="menu">
  <div class="side-left"></div>
  <div class="side-right">
    <div class="result">
      @if (!loading) { @if (result.length > 0) {
      <h2>
        {{
          searchResult != ""
            ? "Resultado para " + searchResult
            : "Explore nossa variedade de produtos"
        }}
      </h2>
      <br />
    }
      <div class="result-items">
        @for (item of result$ | async; track $index) {
        <div class="item" (click)="navigate(item.id)">
          <div class="item-preview">
            <img [src]="item.photoObj" alt="" />
          </div>
          <div class="item-content">
            <h3 class="title">{{ item.productName }}</h3>
            <p class="description">{{ item.description }}</p>
            <h3 style="font-weight: 700" class="price">
              {{ item.basePrice | currency : "BRL" }}
            </h3>
          </div>
        </div>
        } @empty {
        <h2>Nenhum item encontrado</h2>
        }
      </div>
      <div class="more">
        @if (index > 0) {
        <button (click)="back()">Voltar</button>
        } @if (result.length > 12) {
        <button (click)="next()">Proximo</button>
        }
      </div>
      } @else {
      <h3>Carregando...</h3>
      }
    </div>
  </div>
</section>

