<app-side-bar #side [side]="'right'">
  <div class="content">
    <div class="list-items">
      @for(item of amounts; track $index){
      <div class="item-product">
        <div class="item-view">
          <img src="../../../../assets/20-2.png" />
        </div>
        <div class="item-description">
          <h3>{{ item.product?.productName }}</h3>
          <p>{{ "description" }}</p>
          <div class="unique">
            <h4>{{ item.product?.basePrice | currency : "BRL" : "symbol-narrow" }}</h4>
            <div class="amount">
              <div class="decrement" (click)="decrement(item.id)">
                <i class="fi fi-rr-caret-left"></i>
              </div>
              <div class="counter">
                <p>{{ item.quantity }}</p>
              </div>
              <div class="increment" (click)="increment(item.id)">
                <i class="fi fi-rr-caret-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <div
      style="
        padding: 0em 1em 1em 1em;
        display: flex;
        flex-direction: column;
        gap: 10px;
      "
    >
      <div class="subtotal">
        <div class="message">
          <span>Sub-Total</span>
          <p>{{ amounts.length }} {{ amounts.length == 1 ? "item" : "items" }}</p>
        </div>
        <div class="value">
          <h3>{{ getSubTotal() | currency : "BRL" : "symbol-narrow" }}</h3>
        </div>
      </div>
      <button class="btn-buy" (click)="(0)">Comprar</button>
    </div>
  </div>
</app-side-bar>
