<header>
  <nav>
    <div class="image-text">
      <div class="image">
        <img src="../assets/file.png" alt="Logo Pizza Sapucaian's" />
      </div>
      <div class="text header-text">
        <div class="establishment">Pizzaria</div>
        <div class="name">Sapucaian's</div>
      </div>
    </div>
    <ul>
      <li (click)="scrollToElement('menu')">Menu</li>
      <li (click)="scrollToElement('request')">Pedido</li>
      <li (click)="scrollToElement('about')">Sobre</li>
    </ul>
  </nav>
</header>
<section class="banner">
  <div class="side-left">
    <h1 style="font-size: 5.4rem">Bem-vindo à Pizzaria Sapucaian's</h1>
    <p>
      Desfrute da autêntica experiência em pizzas feitas com paixão e
      ingredientes de qualidade. Faça seu pedido online e saboreie cada mordida!
    </p>
  </div>
  <div class="side-right">
    <img src="../assets/pngegg-m.png" alt="" />
  </div>
</section>
<section class="menu" id="menu">
  <h1>Destaques do Cardápio</h1>
  <div class="menu-slider">
    <!-- <button class="arrow-left" (click)="moverSlider(-1)">
      <i class="fa-solid fa-caret-left"></i>
    </button>
    <button class="arrow-right" (click)="moverSlider(1)">
      <i class="fa-solid fa-caret-right"></i>
    </button> -->
    @for (item of [1,2,3,4,5,6,7]; track $index) {
    <div class="card">
      <div class="card-preview">
        <img src="../assets/coca cola.png" alt="" />
      </div>
      <div class="card-content">
        <h3 class="title">Pizza Calabresa</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
          voluptatum autem id ipsam molestias dolorem?
        </p>
        <button class="btn-buy">
          {{ 22.0 | currency : "BRL" : "symbol-narrow" }} - Comprar
        </button>
      </div>
    </div>
    }
  </div>
  <p style="text-align: center">
    Quer explorar todos os sabores incríveis que oferecemos? Clique abaixo para
    conferir nosso cardápio completo e descubra uma variedade deliciosa que vai
    além dos destaques mencionados.
  </p>
  <a style="text-align: center; font-style: italic; color: #060606" href="#"
    >Veja o Cardápio Completo</a
  >
</section>
<section class="how-request" id="request">
  <h1>
    <span class="marked-light" style="background: #060606; color: #feca57"
      >Faça Seu Pedido</span
    >
  </h1>
  <ul>
    <li>
      <span>1</span>
      <p>Escolha seus sabores favoritos no cardápio.</p>
    </li>
    <li>
      <span>2</span>
      <p>Ligue para (81) 9 9208-3096 e faça seu pedido</p>
    </li>
    <li>
      <span>3</span>
      <p>Aguarde a entrega rápida e desfrute da melhor pizza da região!</p>
    </li>
  </ul>
</section>
<section class="about" id="about">
  <h1>Sobre a Sapucaian's</h1>
  <p>
    Somos mais do que uma pizzaria, somos uma tradição de sabor. Desde 2021 a
    Pizzaria Sapucaian's tem encantado clientes com pizzas irresistíveis e
    atendimento excepcional.
  </p>
</section>
<section class="footer">
  <div class="footer-content">
    <div class="text-box">
      <div class="box-title">Nosso Endereço</div>
      <ul>
        <li>Av. Sapucaia, 46</li>
        <li>Cep: 51340-720</li>
      </ul>
    </div>
    <div class="text-box wraper">
      <div class="text-box">
        <div class="box-title">Contato</div>
        <ul>
          <li>(81) 9 9208-3096</li>
        </ul>
      </div>
      <div class="text-box">
        <div class="box-title">Redes Sociais</div>
        <ul>
          <li>
            <a href="https://www.instagram.com/pizzaria.sapucaians/"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
