<app-side-bar [side]="'right'" #side>
  <ul>
    <li [routerLink]="['./home']" routerLinkActive="active">
      <i class="fi fi-rr-home"></i>
      <h2>Inicio</h2>
      &nbsp;
    </li>
    <li [routerLink]="['./menu']" routerLinkActive="active">
      <i class="fi fi-rr-utensils"></i>
      <h2>Cardápio</h2>
      &nbsp;
    </li>
  </ul>
</app-side-bar>
<app-cart #cart ></app-cart>
<header>
  <nav>
    <div class="image-text">
      <div class="image">
        <img src="../assets/logo 03.png" alt="Logo Pizza Sapucaian's" />
      </div>
      <div class="text header-text">
        <div class="establishment">Pizzaria</div>
        <div class="name">Sapucaian's</div>
      </div>
    </div>
    <ul>
      <li [routerLink]="['./home']">Inicio</li>
      <li [routerLink]="['./menu']">Cardápio</li>
    </ul>
    <div class="nav-actions">
      <div class="search">
        <div class="icon">
          <i class="fi fi-rr-search"></i>
        </div>
        <input type="text" placeholder="Pesquisar" (keyup)="search($event)" [formControl]="searchControl"/>
      </div>
      <div class="action lupa" (click)="searchEspaded.classList.toggle('active')">
        <i class="fi fi-rr-search"></i>
      </div>
      <div class="action bag" (click)="cart.side?.toogleActive()">
        <i class="fi fi-rr-shopping-bag"></i>
      </div>
      <div class="action menu" (click)="side.toogleActive()">
        <i class="fi fi-rr-menu-burger"></i>
      </div>
    </div>
  </nav>
</header>
<div class="spanded" #searchEspaded>
  <div class="search">
    <div class="icon">
      <i class="fi fi-rr-search"></i>
    </div>
    <input type="text" placeholder="Pesquisar" (keyup)="search($event)" [formControl]="searchControl"/>
  </div>
</div>
<router-outlet></router-outlet>
<section class="footer">
  <div class="footer-content">
    <div class="text-box">
      <div class="box-title">Nosso Endereço</div>
      <ul>
        <li>Av. Sapucaia, 46</li>
        <li>Cep: 51340-720</li>
      </ul>
    </div>
    <div class="text-box wraper">
      <div class="text-box">
        <div class="box-title">Contato</div>
        <ul>
          <li>(81) 9 9208-3096</li>
        </ul>
      </div>
      <div class="text-box">
        <div class="box-title">Redes Sociais</div>
        <ul>
          <li>
            <a href="https://www.instagram.com/pizzaria.sapucaians/"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
