<header>
  <!-- <span>
    <button>Login</button>
    <p style="color: #feca57;font-style: italic;">Verifique se entregamos em seu cep</p>
    &nbsp;
  </span> -->
  <nav>
    <div class="image-text">
      <div class="image">
        <img src="../assets/logo 03 (3).png" alt="Logo Pizza Sapucaian's" />
      </div>
      <div class="text header-text">
        <div class="establishment">Pizzaria</div>
        <div class="name">Sapucaian's</div>
      </div>
    </div>
    <ul>
      <li>Inicio</li>
      <li>Cardápio</li>
    </ul>
    <div class="nav-actions">
      <div class="search">
        <div class="icon">
          <i class="fi fi-rr-search"></i>
        </div>
        <input type="text" placeholder="Pesquisar" />
      </div>
      <div class="action lupa">
        <i class="fi fi-rr-search"></i>
      </div>
      <div class="action bag">
        <i class="fi fi-rr-shopping-bag"></i>
      </div>
      <div class="action menu">
        <i class="fi fi-rr-menu-burger"></i>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
