:host {
    width: 90%;
    margin: auto;
    display: block;
    color: white;
    padding-bottom: 2em;
}

.container {
    //max-width: 600px;
    margin: auto;
    display: grid;
    gap: 20px;
    padding: 2em;
}

.page-title {
    font-family: "Work Sans";
    font-weight: 400;
}

.list-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-product {
    padding: 0px !important;
}

.items-product {
    display: grid;
    gap: 30px;
}

.control-cart {
    display: flex;
    justify-content: space-between;
}

.checked {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-buy {
    background: hsl(345deg 100% 79% / 25%) !important;
    color: hsl(345deg 100% 65%) !important;
    border: 2px solid transparent !important;

    &:hover {
        //letter-spacing: 1.25px;
        //transform: translateY(4px);
        background: hsl(345deg 60% 40% / 50%) !important;
        //box-shadow: 0px 2px 0px 0px var(--color-black), 0px 6px 0px 0px rgba(128 128 128 / 17%);
    }
}

.table-tools {
    // box-shadow: 0px 2px 7px 0px rgba(0 0 0 / 17%);
    // border-radius: 0px 7px 7px 0px;
    // overflow: hidden;
}

.table-content {
    // width: 100px;
    flex-grow: 1;
    //max-height: 400px;
    display: flex;
    flex-direction: column;
    // overflow: auto;
}

@media screen and (max-width: 680px) {
    .box-seach {
        border-bottom: 1px #cccccc solid;
    }

    table {
        display: flex;
        flex-direction: column;

        tbody {
            overflow: auto;
            max-width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }

    .table-content {
        thead {
            display: none;
        }

        tr {
            padding: 8px;
        }

        th,
        td {
            display: flex;
            position: relative;
            //flex-direction: row-reverse;
            //justify-content: center;
            resize: none;
            border-bottom: 0px solid #ddd;

            span {
                //width: 50%;
                overflow: hidden;
            }

            span::before {
                //content: attr(attr-data);
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                font-size: 14px;
            }
        }

        .centralize {

            th,
            td {
                justify-content: center;
                border-bottom: 0px solid #ddd;
            }
        }

        td span::-webkit-scrollbar {
            height: 7px;
            border-radius: 20px;
            overflow: hidden;
        }

        td span::-webkit-scrollbar-thumb {
            background: var(--color-1);
            border-radius: 20px;
        }
    }

    .minimize {
        display: none !important;
    }
}

thead {
    border-radius: 20px;
    background: #eeeeee;
    color: black;
    height: 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

thead tr {
    padding: 7px 15px;

    th {
        font-weight: 300;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    //border-radius: 7px;
    overflow: hidden;
    padding: 0px;
}

th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

th,
td {
    padding: 8px;
    text-align: center;
    // border-bottom: 1px solid #ddd;
    // resize: horizontal;
    overflow: auto;
    //white-space: nowrap;
}

.centralize {

    th,
    td {
        border-bottom: 1px solid #ddd;
    }
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*tr:nth-child(even) {
    background-color: #f2f2f2;
  }*/

.text-center {
    text-align: center;
}

.super-text {
    font-size: 2.4rem;
    color: #feca57;
    font-family: "Montarrant", sans-serif;
    font-weight: 600;
}

.line {
    background: #242424;
    padding: 1px;
}

.line-information {
    display: flex;
    justify-content: flex-end;
}

.line-action {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    a {
        padding: 15px 25px;
        background: #eeeeee;
        color: #9d9d9d;
        border-radius: 7px;
        cursor: pointer;
    }

    button {
        padding: 15px 25px;
        background: #feca57;
        color: var(--color-white);
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 7px;
        font-family: "Montarrant", sans-serif;
        cursor: pointer;
    }
}

.line-subtotal {
    display: flex;
    align-items: flex-end;
    gap: 4px;

    span {
        color: white;
    }

    .value-total {
        font-size: 2.8rem;
        line-height: 1;
    }
}

.fields {
    display: grid;
    gap: 10px;
}

.box-field {
    display: grid;
    gap: 2px;
}

.field {
    display: flex;
    position: relative;
    flex-direction: column;
}

.fields input {
    border-radius: 7px;
    padding: 10px 45px 10px 15px;
    border: 0px;
    outline: none;
    box-shadow: 0px 0px 0px 1px rgba(0 0 0 / 17%);
    background: rgba(245 245 245 / 17%);
    transition: 0.2s;
    font-family: "Poppins";
    color: var(--color-black);

    &:focus {
        box-shadow: 0 -1px #0000000a, 0 2px 4px #00000040,
            0 0 0 3px rgba(255, 149, 176, 0.52);
    }
}

.fields input::placeholder {
    color: #dcdcdc;
}

.field i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    color: #dcdcdc;
}

.validate {
    color: rgba(255, 149, 176, 1);
    font-size: 1.2rem;
}


.calculate-delivery {
    padding: 15px 25px;
    background: hsl(345, 100%, 79%);
    color: var(--color-white);
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    font-family: "Montarrant", sans-serif;
    cursor: pointer;
}

.empty {
    h1 {
        font-family: 'Montarrant', sans-serif;
        font-size: 3.8rem;
        color: #263638;
    }

    span a {
        color: #ff4d79;
        cursor: pointer;
        font-size: 2.2rem;
        text-decoration: none;
        font-style: italic;
    }
}

.max {
    max-width: 250px;
}



.btn {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 15px;
    border: 2px solid transparent;
    background: #feca57;
    transition: 0.2s;
    color: #060606;

    &:hover {
        box-shadow: 0 -1px #0000000a, 0 2px 4px #00000040,
            0 0 0 3px rgba(254, 201, 87, 0.5);
        background: #feca57;
        color: #060606;
    }
}

.ligth {
    background: transparent;
    border: 2px solid #feca57;
    color: #feca57;
}

.fill {
    color: #feca57;
    background: color-mix(in srgb, #feca57 25%, transparent);
}

.btn-fit {
    width: fit-content;
}

.toggleButton .actions {
    display: flex;

    button.active {
        background: #feca57;
        color: white;
    }

    button:first-child {
        border-radius: 7px 0px 0px 7px;
    }

    button:last-child {
        border-radius: 0px 7px 7px 0px;
    }
}


.steps ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        gap: 30px;

        span {
            position: relative;
            background: #feca57;
            color: white;
            min-height: 35px;
            height: 35px;
            min-width: 37px;
            width: 37px;
            display: flex;
            border-radius: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        p {
            background: white;
            color: #060606;
            border-radius: 7px;
            padding: 10px;
            box-shadow: 0px 2px 5px 2px rgba(128 128 128/ 17%);
        }
    }

    li:not(:last-child) span::before {
        position: absolute;
        content: "";
        background: #feca57;
        width: 200px;
        height: 5px;
        left: 150px;
        transform: translate(-50%, -50%);
        top: 50%;
    }
}